{
  "extends": "airbnb",
  "rules": {
    "consistent-return": 0,
    "camelcase": 0,
    "semi": [2, "never"],
    "no-console": 0,
    "comma-dangle": [2, "always-multiline"],
    "max-len": 0,
    "react/jsx-first-prop-new-line": 0,
    "space-before-function-paren": [2, "always"],
    "no-unused-expressions": [0, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "arrow-body-style": [0, "never"],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "react/jsx-no-bind": 0,
    "no-unused-vars": [1, { "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "global-require": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-target-blank": 0,
    "no-plusplus": 0,
    "react/no-string-refs": 0,
    "no-nested-ternary": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/extensions": 0,
    "linebreak-style": 0,
    "no-tabs": 0,
    "guard-for-in": 0,
    "react/sort-comp": 0,
    "class-methods-use-this": 0,
    "no-mixed-spaces-and-tabs": 0

  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "window": true,
    "document": true
  }
}
